$dark: #1d1d1d;
$light: #ededed;

body {
	background: $light;
	color: #1d1d1d;
	font-family: sans-serif;
}

.wrap {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

.content {
	max-width: 570px;

	// Test autoprefixer
	transform: translate(0%, 0%);

	img {
		max-width: 300px;
	}

	p {
		margin-top: 0;
		margin-bottom: 5rem;
	}
}
